In [1]:
import pandas as pd
import numpy as np
dataset = pd.read_csv(r'C:\Users\Hp\Desktop\5thCSE\dataset1.csv')
dataset.head()

,OrderDate,Region,Rep,Item,Units,Unit Cost,Total,Unnamed: 7,Unnamed: 8,Unnamed: 9,Intervals,Unnamed: 11,Item Type,Frequency,Rel. Freq,% Freq.
0,09-01-2014,Central,Smith,Desk,2.0,125.00,250,NaN,9.0,6.0,0-9,NaN,Pencil,13.0,0.302326,30.20%
1,6-17-15,Central,Kivell,Desk,5.0,125.00,625,NaN,NaN,8.0,NaN,NaN,Binder,15.0,0.348837,34.90%
2,09-10-2015,Central,Gill,Pencil,7.0,1.29,9.03,NaN,29.0,3.0,20-29,NaN,Pen,5.0,0.116279,11.60%
3,11-17-15,Central,Jardine,Binder,11.0,4.99,54.89,NaN,39.0,2.0,30-39,NaN,Pen Set,7.0,0.162791,16.30%
4,10-31-15,Central,Andrews,Pencil,14.0,1.29,18.06,NaN,49.0,6.0,40-49,NaN,Desk,3.0,0.069767,7.00%

In [2]:
X=pd.DataFrame(dataset.iloc[:,:-1])
X

,OrderDate,Region,Rep,Item,Units,Unit Cost,Total,Unnamed: 7,Unnamed: 8,Unnamed: 9,Intervals,Unnamed: 11,Item Type,Frequency,Rel. Freq
0,09-01-2014,Central,Smith,Desk,2.000000,125.000000,250,NaN,9.0,6.0,0-9,NaN,Pencil,13.0,0.302326
1,6-17-15,Central,Kivell,Desk,5.000000,125.000000,625,NaN,NaN,8.0,NaN,NaN,Binder,15.0,0.348837
2,09-10-2015,Central,Gill,Pencil,7.000000,1.290000,9.03,NaN,29.0,3.0,20-29,NaN,Pen,5.0,0.116279
3,11-17-15,Central,Jardine,Binder,11.000000,4.990000,54.89,NaN,39.0,2.0,30-39,NaN,Pen Set,7.0,0.162791
4,10-31-15,Central,Andrews,Pencil,14.000000,1.290000,18.06,NaN,49.0,6.0,40-49,NaN,Desk,3.0,0.069767
5,2-26-14,Central,Gill,Pen,27.000000,19.990000,539.73,NaN,59.0,6.0,50-59,NaN,NaN,43.0,1.000000
6,10-05-2014,Central,Morgan,Binder,28.000000,8.990000,251.72,NaN,69.0,3.0,60-69,NaN,NaN,NaN,NaN
7,12-21-15,Central,Andrews,Binder,28.000000,4.990000,139.72,NaN,79.0,3.0,70-79,NaN,NaN,NaN,NaN
8,02-09-2014,Central,Jardine,Pencil,36.000000,4.990000,179.64,NaN,89.0,6.0,80-89,NaN,Oct-19,NaN,NaN
9,08-07-2015,Central,Kivell,Pen Set,42.000000,23.950000,"1,005.90",NaN,99.0,0.0,90-99,NaN,NaN,NaN,NaN
10,1-15-15,Central,Gill,Binder,46.000000,8.990000,413.54,NaN,NaN,NaN,100+,NaN,NaN,NaN,NaN
11,1-23-14,Central,Kivell,Binder,50.000000,19.990000,999.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,3-24-15,Central,Jardine,Pen Set,50.000000,4.990000,249.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,5-14-15,Central,Gill,Pencil,53.000000,1.290000,68.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,7-21-15,Central,Morgan,Pen Set,55.000000,12.490000,686.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,04-10-2015,Central,Andrews,Pencil,66.000000,1.990000,131.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,12-12-2014,Central,Smith,Pencil,67.000000,1.290000,86.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,4-18-14,Central,Andrews,Pencil,75.000000,1.990000,149.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,5-31-15,Central,Gill,Binder,80.000000,8.990000,719.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,02-01-2015,Central,Smith,Binder,87.000000,15.000000,"1,305.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,05-05-2014,Central,Jardine,Pencil,90.000000,4.990000,449.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,6-25-14,Central,Morgan,Pencil,90.000000,4.990000,449.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,12-04-2015,Central,Jardine,Binder,94.000000,19.990000,"1,879.06",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,11-25-14,Central,Kivell,Pen Set,96.000000,4.990000,479.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2-18-15,East,Jones,Binder,4.000000,4.990000,19.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,11-08-2014,East,Parent,Pen,15.000000,19.990000,299.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,9-18-14,East,Jones,Pen Set,16.000000,15.990000,255.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,07-12-2014,East,Howard,Binder,29.000000,1.990000,57.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,8-15-14,East,Jones,Pencil,35.000000,4.990000,174.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,04-01-2014,East,Jones,Binder,60.000000,4.990000,299.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,06-08-2014,East,Jones,Binder,60.000000,8.990000,539.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,07-04-2015,East,Jones,Pen Set,62.000000,4.990000,309.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,10-22-14,East,Jones,Pen,64.000000,8.990000,575.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,12-29-14,East,Parent,Pen Set,74.000000,15.990000,"1,183.26",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,7-29-14,East,Parent,Binder,81.000000,19.990000,"1,619.19",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,01-06-2014,East,Jones,Pencil,95.000000,1.990000,189.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,4-27-15,East,Howard,Pen,96.000000,4.990000,479.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,8-24-15,West,Sorvino,Desk,3.000000,275.000000,825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,03-07-2015,West,Sorvino,Binder,7.000000,19.990000,139.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,5-22-14,West,Thompson,Pencil,32.000000,1.990000,63.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,3-15-14,West,Sorvino,Pencil,56.000000,2.990000,167.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,10-14-15,West,Thompson,Binder,57.000000,19.990000,"1,139.43",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,9-27-15,West,Sorvino,Pen,76.000000,1.990000,151.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,Mean,NaN,49.325581,20.308605,456.4623256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,Median,NaN,53.000000,4.990000,299.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,Mode,NaN,7.000000,4.990000,449.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
Y=pd.DataFrame(dataset.iloc[:,-1])
Y

    % Freq.
0    30.20%
1    34.90%
2    11.60%
3    16.30%
4     7.00%
5   100.00%
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
30      NaN
31      NaN
32      NaN
33      NaN
34      NaN
35      NaN
36      NaN
37      NaN
38      NaN
39      NaN
40      NaN
41      NaN
42      NaN
43      NaN
44      NaN
45      NaN
46      NaN

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20)

In [5]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 20, random_state = 0)
regressor.fit(X_train,Y_train)
Y_pred = regressor.predict(X_test)

ValueError: could not convert string to float: '07-04-2015'

In [6]:
from sklearn import metrics
print('Mean Absolute Error:',metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Mean Absolute Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

NameError: name 'y_test' is not defined